<!DOCTYPE html>
<html lang="en">

<head>
    <title>Title</title>
    <script src="../lang/en/en.js"></script>
    <script src="../scripts/script.js"></script>

</head>


<body>
    <h2>Database Client</h2>
    <input type="text" id="insertRow" placeholder="Insert SQL Command">
    <button onclick="database.InsertRow()">Insert SQL Command</button>
    <br>
    <br>
    <button onclick="database.InsertSetRows()">Insert Rows</button>
    <p id="response"></p>
    <p id="patients"></p>

</body>

</html>