<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dictionary - Add Word</title>
    <script src="../lang/en/en.js"></script>
    <script src="../scripts/script.js"></script>

</head>

<body>
    <h2>Add a Word</h2>
    <input type="text" id="word" placeholder="Enter a word">
    <textarea id="definition" placeholder="Enter definition"></textarea>
    <button onclick="dictionary.addWord()">Submit</button>
    <p id="response"></p>

    <p id="requestCountDisplay">Request Count: 0</p>
    <p id="totalWordsDisplay">Total Words: 0</p>
</body>

</html>